<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <tr style="background-color: gray;">
        <td>Nome</td><td>Idade</td><td>Acoes</td>
      </tr>
      <%
        clientes.forEach(function(item){
          %>
          <tr><td><%= item.nome%></td><td><%= item.idade%></td><td></td></tr>
          <%
        })
      %>
      </table>
  </body>
</html>
