<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table border="1">
      <tr>
        <td>Nome</td>
        <td>Idade</td>
        <td>Cidade</td>
        <td>UF</td>
      </tr>
      <% clientes.forEach(function(item) { %>
      <tr>
        <td><%= item.nome %></td>
        <td><%= item.idade %></td>
        <td><%= item.cidade %></td>
        <td><%= item.uf %></td>
      </tr>
      <% })  %>
    </table>
  </body>
</html>
